body {
    font-family: sans-serif;
    background-color: chartreuse;
}

#header {
    padding: 30px;
    background-color: aqua;
    text-align: center;
}

nav#menu h1{
    display: none;
}

#menu .sair {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
}

#menu ul li {
    display: inline-block;
    padding: 8px;
}

#meio {
    padding: 100px;
}

#meio .img {
    background-size: cover; 
}

ul.sub-menu{
    position: absolute;
    background-color: beige;
    list-style-type: none;
    width: 125px;
    padding-left: 0px;
    margin-left: 25px;
    margin-top: 5px;
    opacity: 0;
}

#footer{
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: aliceblue;
}

#footer h2 {
    display: block;
    
}